:root {
    --height-width: 80px;
    --height-width-change-theme-color-button-inner-circle: 40%;
}

.html,
body {
    height: 100vh;
    margin: 0;
}

.change-body-background-dark {
    transition: background-color 0.5s ease-in;
    background-color: rgb(118, 115, 115);
}
.change-body-background-light {
    transition: background-color 0.5s ease-in;
    background-color: white;
}
header {
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-areas:
        "title title title title change-theme-color-button"
        "nav nav nav nav nav";
    padding-top: 10px;
    gap: 20px;
}

h1 {
    grid-area: title;
    text-align: center;
}

.change-theme-color-button {
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    grid-area: change-theme-color-button;
    margin-top: 5px;
    background-color: #454e56;
    box-shadow: 4px 2px 10px gray;
}

@keyframes change-theme-color-button-animation {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-2px, -3px);
    }
}
.change-theme-color-button:hover {
    animation-name: change-theme-color-button-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.inner-circle {
    border-radius: 50%;
    background-color: gray;
    width: var(--height-width-change-theme-color-button-inner-circle);
    height: var(--height-width-change-theme-color-button-inner-circle);
    display: flex;
    align-items: center;
}
.inner-inner-circle {
    background-color: #454e56;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 30%;
    height: 65%;
    margin-left: 10px;
}
nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    font-size: 25px;
    color: rgb(130, 127, 127);
}
.change-text-color {
    color: white;
}

nav ul li:hover {
    cursor: pointer;
    color: black;
    font-weight: 560;
}

.active {
    color: black;
    font-weight: 550;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-list {
    position: relative;
    left: 40%;
    transform: translateX(-25%);
    height: 250px;

    width: 750px;
}

.number-list input {
    position: relative;
    height: var(--height-width);
    width: var(--height-width);
    font-size: 40px;
    margin: 5px;
    text-align: center;
    top: 40%;
    border: 2px solid black;
}

.buttons .start-btn {
    background-color: rgb(223, 30, 30);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: rgb(245, 237, 237);
    font-size: 18px;
}

.buttons .start-btn:hover {
    background-color: rgb(211, 9, 9);
    cursor: pointer;
}

.buttons .random-list {
    background-color: rgb(45, 60, 230);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: rgb(245, 237, 237);
    font-size: 18px;
}

.buttons .random-list:hover {
    background-color: rgb(12, 30, 228);
    cursor: pointer;
}

.analysis{
    /* display: hidden; */
}