#current-smallest-pointer {
	border: 0.5px solid black;
	background: rgb(14, 219, 52);
	border-radius: 50%;
	width: 22px;
	height: 25px;
	margin: 0;
	position: absolute;
	top: 30%;
}

.container {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.number-list {
	margin: 0;
}
